Source: mustr
Section: user/graphics
Priority: extra
Maintainer: Thomas Perl <m@thp.io>
Build-Depends: debhelper (>= 8.0.0), libqt4-dev, libgq-gconf-dev
Standards-Version: 3.9.2
Homepage: http://thp.io/2012/mustr/

Package: mustr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Download wallpaper patterns from COLOURlovers
 Browse wallpaper patterns from COLOURlovers.com and
 download them to your device to use as lock screen image.
XSBC-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
 bWFnZVJlYWR5ccllPAAAEAVJREFUeNrsnAl0FFUWQF9V9ZqNkJCVBFDQo87BCWfcZ9C4MApuBzdc
 iGFREVmGRdkVM4oiCAOybxLQ0TMyCg6Oy8wowQVczmgGVzSQACELQQhJeu+qP+9VVyedpLuqu/N1
 cOCfU+lOpat/6vZ97/3/u7sATrcuNeHn6mh3XWWBTTLlumX/RSZRTPAryoW0XxKEXJmxs+l+giTA
 eUkm3Kf/XMzXAPKx1/AO+x6Yt0bdKSZ8BorTKZjSPmX+H2ssZyws/8UCRFipeFOI2xW4FWj31eZT
 ZGB4KyuK+rvMFFAYgxSTABd0Mwfg0QNA6fCsovrfMs9h8Nevpjv4uwV3W7Q/2/DPEr4iiaEHleFG
 IHfSfYTaeNICrDjRkHvE1XwH3i0maMTAj7DQtMCGoBhjYY8leBenWsBsZJ63Gny1zyFbl8FZSSAg
 UBARpmjHXxMDL4Bo/RQUz8ti8oWvmDKG1ZwUAHfV7i+URHEsmnQHmeSVZdUy2qJp3OFFZIoQpRS8
 TcFfzCDYz3lFSr1ulWjPK/ufAPwIweHNXHyCQi/C8sj+qKG1h2dGeMJPCq9jE+3ngil7LOVNenYC
 WCLa88t+FoAf1FSk4lFz8dBJXoTm9HvVHBZrI3iXoXkm0cA8ynk1zwHjBE+w9ARzz4lqaKunjzZS
 yGNbgr2VSPbejT8ZwJ2Hv8eCIGzFtN+nxedVc1w8jeD9trvF2DwPmnd4GTfzBCvBm6CZF/oHyo9m
 ulOFP4ZK9j7l3AHuqN47Am82Uqg60DoWh3XUuplFGJgWRc5D83zVCE/mCC9/gmZeBBQIkbnqQd6z
 ZKT1yi2l3AC+e+i7EfjAjQ6/B1x+f9wnkYrULid4ooF57mrwHlrO1TxL/ngsIgn6/TbtB1/5IhBs
 PWgoNdJ29V9Luwzwnwe/Vc1r8XmwUPi6AE+EwmjgoXnegxzNsyG8XuM7h20YeN7ds3Ds5UDg6SAk
 9abdI22DXi2NG+DbB74uEED4woHwXF2A1x3NuyrdivAMwtaN8A5wNq83mWfX7/dEJXh3zcZRvqPt
 WHsmCIl5NNsZYLvutfKYAb5Z9WUqwcOc16fZ5+4CPBGuTreAxTBsA/AYJ/NEWwzwPpqN00NH5+dI
 RgutaVUE0T5kW9jqbIr4xIzNxcFxnyavC9MB6wI8M8KD4PwsMrxK3vDGITybfr8E74M5YeGpk8mm
 ahC7J/bB6SIO22By1AZu+f6zQpvZsqPR44x5cBxsaQjv2gyrsXkuhLd/BT94doR35jhj8xoR3s5H
 I8JrBWROAiG1H77IypUJt28vi8pAi2Sa68JxnifOiptmEeDaHhi26sIA04e3bwW3QbJq3hkPqQsL
 uv0SvLLHDOEFiloLgKsR82m3udrihL6BWys+pynajmNuh7pSEmtLx3gdkmnTwjZyU1w14K0g89yc
 zMsFS7+HcFKhb57SWAXe9wieM/onl8wgpp1HOK9MGNreQlOY3DfajRU3ntBNR+WGZFLB0M+ZihPN
 q1jJF17fsQhPP+cpx9G8dx+Pyrz2B+LEgSy0pY3uaGE7A9+q/DIdK+5RKhw044il9UDlbsqK0rzv
 V3HMeQjv7LHG5h1H8/6F8LzOuPoRrCkgpPTGypzfwzZ49Y9hDWzyOosobF04VYsV3o1Z1ijMqwHP
 3lX8BskJBO/BKMyrAs8/SgC8jrj7Yq4TAAkekJsOFgUWHsIA9CtKMYWvoigxwbsZ4VkFpncOath6
 9q4G5udkHsKzEjyDgqHCe+ePaJ6j6526mnBYc8YtoQBbQ/jFb3fhwBmOH49h6JKB8G7JsYPVKGzJ
 vG9X8wtbgnduMOfp9HvsAHje5gSP+s04G2yD5wGYbd2llAGN7QxUGCukAbPbH92ULdNK8NA8o7B1
 ILxvOMJLRHjnjEF4Vv2w/RHhvfkEP3jpvcE6aDrCU/ulkcq2jgCv8GL4RrNMlYHwbs2xqeM8vcdz
 h0c579wx6gxDt1/e8NJ6g2XwHISHhUpBwQTTFWEAKgVUeY3GfmTe7bk2zTwDeF+v4ZfzyLzzguYp
 +vC2Pxl3tQ1r3vVzQLDYtX4pvUkFnYoIhTCFr97yfCbmvGGt8HTCtgXhfbWG3zgvMQesv3oAX3iD
 sD2K8P42jyO8XmC9YbYGL9AvU/z4IpoL2wFc858dBWgg0HsckRYOyLy78myBgmEQtu4v12BJ5wxP
 Mqi2CM/9OiZ4nubdqMFr169MFEFu3F0gpV5argKUBCGd3ruVIwxfsmwi3J0XRdi21IJ7D2fz+gfN
 0wnbowfBve0pnLdygtcDzbt5Jg6ebRH6ZZQH01sNRPMGelFNJUz+y0Ll7kF4NoOFAQpb9561mPM4
 wUvKAVv/+wM5T9c8hPfaU/zCFuHZCF4n80I7xVmawAbivXdNGk9RNbDDAdloXlEvO9gM1vNUeOVr
 +ZlH8M5HeCaDGUYDhu2r8/mZl4Hwhs5A8+y6/dbV1MErL74jthroV+SBlP9CDcxB84rz0bwowtb1
 xTpu1VYieL++3zhsGw6Caws/eBLBu3W6Bi9yv4eqamH10i1gMtsHtgJU1A/4KK0Ac2wSjAiaxwzg
 fc4xbJMRXsF9xmFL8F55hp95mQjvtun6YYvtYFUNLChZh/BskNzN2laF8ZB0mr7RECYHqY0ieJJB
 2DYTvHVcc559wH3GYXsE4f1lAVd49tunGYYtwXvm8XXgdLohIRHhYOFtBYjVt79PlrFgCHBf74Qo
 4NWA69/r+cL7zejo4L3MGd6wR6KCN39uAB41n88Hsiz3bxfC2VhmR/XCnCcxY/M+W881bAPwDHJe
 /SFwvbSQH7ysfLDf+bDOUEWDV1kLTxE8R9v5UqQqCmsL4R44qb1TXVVR9HNPEJ6PE7wUhHfBqAA8
 vX4J3p8JnoszPP2cdwALxrzH2sNTY5MAavVCBXgnDZLBrX8STbXg/JSzeReOMg5bhOd84Vm+5t09
 FQSbftgeQPOeDANP/Z+UDgaqi6E0C4mwkKA014Hzkw1onoubeQkXjdKqrX7YOjcv4mpewj1TA2Gr
 0y/B++OjGzDnhe8X81/rmoGpdWrC5MjmfbyB36pKEJ7JYDG0ToPn5mReNsIrmqKZF7lVqfDWhzUv
 2Lxeb1sI+xve7BNQufMrIhO83c9zy3lSN4R3McIz6xcMua4anKWLucGTCN69BE+/YBC8kjkbwOEw
 Pt/WEDZlDKnyN7zVKf9xh5eSjfBGGBYMmcx7/k/84OXkQULxJC1smS68ubOjgxdY1uoYwiGvjHwC
 c94uzuZdOtLYvNpqDR6naWE2whs52dC8yso6eGzWBt2w7WRgpxxIXwPATuQTaN5HnOFdhuaZ9XOe
 XIvmrV/C17xRkwxzXuX+Wnh09vNRm0fNbDZ3AKgmRAZyYw04PvwJ4Jn0qy2Z51i3hJ95BG/0pIB5
 Ov0SvDmzNsYEL6CbAIqstDdQhffBBo7wsiHxd8Va2OrkvBqEt3YpMBcn83LzIPH+iVrYMl14s2bG
 Di/sQFppqkfzNuN4ixO8VIIXDFsDeKsJnosfvAcmGg6S9yO8mTPig9c6kA4NYccnW4B59WciMcEb
 WByAx/Thtax6DoBX2Ob2hMQxEwLwmD68GTNLwdESvywKMAi++xFYzvJ69mAROZ91EaAatpcXG1fb
 w4ehZeUyfjmP4D2I8Oz61Xb//jqYPr0UWhxdizRREEEQYE9bDlTkY2oVVliXzEsqjCLnEbzlHOH1
 7AlJD43X4EXudx/CmzatNO6wDW2CKIHdbjkG2tgloDzTPhwUx0bmtYcXfpOrMWyXITyaYyrQ5U3K
 6Qgv/LZvXy088shGaG5xBZaiurjl5/eAp58uCglhJrzPBFMhi8NAqTuG7ZX3qp8Z0UsBcjWat2w5
 v4KB5iWOHwdg1/+Yx759dfCwap6HS799z8yCJ54cDklJ9vfbQlj2M/XTaTHmQIKXhPAMw5bgLV3B
 FV7SxHHGYYvwpj5COY8PvH4Ib+GCYkhKVHM8awMomHaCyGKqwmrOu6oI4Vn0B8nVNdCyhOBxGiLl
 5ULSH8ZitdUfnFfsq0d4m6ClhU+/fftmw7ML70V49A15epNc2NkG0O89HsiFQlQQpe5ZkHR1URTm
 IbzFK/mZl4fmTRpraB7Bm/zwpi5X21bzEN7ihUWaedrUVzCpzFo/YPnj8gsYfZCayV5jeIMwbC0G
 c9tDCG/RKn7w8tG8KQgvQX9uS/AmTd3EL2z7ZsGSZ9G8JO186bvFohXMOfcIIVM5igalLFBIIncs
 pSG8azTz9AoGwmtW4XEM28kPBsxjeubVwcSpm7nBO4vgBc0L9iuoUVoWfIwpZH2mHOkWRooMgpc8
 COFZDMKW4C1czdW85Klj0Dz9sP2B4E15gWPYZsHSZxFeUrjzZeWdATK2UxBMk8JVYhXe74cbwzuI
 8BYgPCcn83ohvIejgFdRBxOmvsCtYFDOW7YoAjz1W/bKznAAy9THCrgr5KutKrxro4Q3fw1f86Y9
 EBW8cZNf4Bq2yxcPj2CeqO1qC+F2X7RpWFzwBfM4C4KfLSZ4KYOHGxcMhNf0zNrADIOTeSnTHzAs
 GD9U1MNDU/iZd1a/LFi5uKitYHSaw5npQj/l5p7FA0KQhpJQNgmS+TS8yJNgqrabOjgZ8ndbyiZ6
 kCkj/zS8TvAkqHLKZGBkgD0mfHjc3LPv5uTrTsPr2KqcDObvbd5szr3neESA1BIvv2lj4FPpwml4
 WqtE8x7/thmOeeWN0LmstG/mvFFUYcrUanwaHux3+OHRbxzg8LOyrbdOKzMEGNhrK1ETpiCe8vBm
 ftUEHkWAJAsyCYcq3E6McyK9JNTCUxHetC9PgB+Hyjj0W/LiTRPLogaotRL1WlII8dSE1wg+JuHE
 Q72eVkmkx0YEaM4b3YiDnqHy4SPQvGjjKQfPo+BwThRpkXno67dNj3hFN8NLPx25MXcE3mxU3/b0
 +04JeG6EZ5HU9DVy++0zSvWOEY06z9xeQ08wUp0Lm8ynCDwpKnhRGdhmYo5qIlnIfN7Ylv9/IQXD
 ywJhG4A3szSaPmK6AOORG7Lpe7JbEV4f5vXQ+8n/F/Bm4FCF4AnaBRjfuGNm1BdgFGP5pzLfqCun
 C3HREIdCWg1rnatQnvQzDIcMs79pUeHROTFgA2KBF7OB7Wy8PqsQYdLlkArJRCbL7Yw8ueEJOD1T
 YPbXTeoMAx0o+fsds8ri6a/Ll0E+MiSzEC0cgTCL1byIEKWemZA87f6TDJ6gRYuI5vlh3l7Htga3
 b+mbw+IDxw1gsL10aUbWNd2FuzwJCcOy5k25pG0lOfh+M/uZ4QWBCaGnSeG56a33vn75puKl9Tz6
 /UkuBe87tCbipeAJZMW+IzB+amAZnrHOb+jTvo7vzeCMQN067FT39TszE5YvGq7Ba/eYMgi5FLw5
 f8zJeyn4KKAW1B1pysrOTLn01uErrEePNl+iwcpGCOfE85x47HfdUxPrNq29DyST9HFyotWDfezG
 PuoRVjmcbid/+68AAwDuOdzzDQHfDwAAAABJRU5ErkJggg==
